form {
  text-align: center;
  margin-block-start: 50px;

  input {
    width: 300px;
    border: 2px solid $pink;
    border-radius: 15px;
    text-align: center;
    background-color: $yellow;
  }
  #text-area {
    height: 200px;
  }
  #submit {
    width: 150px;
  }
}
.img {
  display: flex;
  justify-content: center;
  margin-block-start: 50px;
}

.header-title {
  margin-block-start: 50px;
  text-align: center;
  color: $green;
}
.para-contact {
  text-align: center;
  .contact-link {
    text-decoration: none;
    color: $green;
  }
}

@media only screen and (max-width: 767px) {
  .desk {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .phone {
    display: none;
  }
}
