footer {
  margin-block-start: 50px;
  .footer-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .footer-info {
      .footer-img {
        width: 100px;
      }
    }
  }
}
