.second-div {
  margin-block-start: 50px;
  min-height: 470px;
  display: flex;
  justify-content: center;

  .question {
    background-color: $black;
    h3 {
      color: $green;
      font-family: $hfont;
    }
    ul {
      color: $green;
      a {
        color: $green;
        text-decoration: none;
        font-family: $pfont;
      }
    }
  }
}
img {
  width: 100%;
  height: 100%;
}
