.third-div {
  margin-block-start: 50px;
  min-height: 470px;
  display: flex;
  justify-content: center;

  .quest1-info {
    background-color: $green;

    .third-div-title {
      text-align: center;
      color: $pink;
    }
    .para {
      color: $pink;
      font-size: 18px;
    }
  }
}
img {
  width: 100%;
  height: 100%;
}
