.div-one {
  margin-inline-start: 8%;
  width: 80vw;
  height: 400px;
  background-color: $grey;
  .info-div {
    border: 2px solid black;
    height: 400px;
    position: relative;
    .title {
      font-family: $hfont;
    }
    #title-1 {
      position: absolute;
      top: 50px;
      left: 50px;
    }
    #title-2 {
      position: absolute;
      top: 110px;
      left: 50px;
    }
  }
}
.img-div {
  height: 400px;
  text-align: center;
  #img {
    width: 400px;
  }
}
