.div-one {
  margin-inline-start: 8%;
  width: 80vw;
  height: 400px;
  background-color: $grey;
  .info-div {
    padding: 50px;
    height: 400px;
    position: relative;
    .title {
      font-family: $hfont;
    }
    #title-1 {
      color: $pink;
    }

    .firstp {
      width: 70%;

      .questions {
        font-family: $pfont;
        &.quest1 {
          color: $pink;
          font-size: 23px;
        }
        &.quest2 {
          color: $green;
          font-size: 18px;
        }
        &.quest3 {
          color: $yellow;
          font-size: 21px;
        }
        &.quest4 {
          color: $black;
          font-size: 23px;
        }
        &.quest5 {
          color: $pink;
          font-size: 23px;
        }
      }
    }
    .secondp {
      font-family: $pfont;
      width: 70%;
    }
  }
}
.img-div {
  height: 400px;
  text-align: center;
  #img {
    width: 400px;
  }
}
