$pink: #9453a6;
$green: #8cbf3f;
$yellow: #f2cc0f;
$grey: #f2f2f2;
$black: #0d0d0d;

$hfont: "Henny Penny";
$smallhfont: "Pattaya";
$pfont: "Roboto", sans-serif;

body {
  background-color: $grey;
}
p {
  font-family: $pfont;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: $hfont;
}

@import "SCSS/header";
@import "SCSS/firstdiv";
@import "SCSS/seconddiv";
@import "SCSS/thirddiv";
@import "SCSS/slider";
@import "SCSS/card";
@import "SCSS/footer";
@import "SCSS/mayor";
@import "SCSS/mardi-gras";
@import "SCSS/contact";
@import "SCSS/FAQ";
@import "SCSS/media";
@import "SCSS/trivia";
