$pink: #9453a6;
$green: #8cbf3f;
$yellow: #f2cc0f;
$grey: #f2f2f2;
$black: #0d0d0d;

$hfont: "Henny Penny";
$smallhfont: "Pattaya";
$pfont: "Roboto", sans-serif;

body {
  background-color: $grey;
}
p {
  font-family: $pfont;
}
h1,
h2,
h3 {
  font-family: $hfont;
}

@import "header";
@import "firstdiv";
@import "seconddiv";
@import "thirddiv";
